<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>http://47.95.241.130:8282/imageServer/app/car_v2.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.moke.car</string>
                <key>bundle-version</key>
                <string>00.00.0043</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>车辆调度系统</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
